<div class="word_box">
  <p>Each year new additions to the dictionary such as ‘chav’ or ‘toxic debt’ causes much debate about how suitable or
    not it is to have these included in the dictionary, but little debate or attention is paid to the hundreds of words
    that are being bumped out of the dictionary to make way for them. To draw attention to the words that are being lost
    through lack of usage, Adopt-A-Word offers you the opportunity to adopt one of a list of 450 endangered words
    When you adopt a word we will tweet your adoption on your twitter account letting your friends and followers know
    that you are
    helping to save these words. Not only that but each time you use your adopted word in your twitter or facebook
    status, Adopt-A-Word will record that tweet
    in your Adopt-A-Word profile. Other Word parents can see how you are using and saving your words, and leave messages
    to tell you
    how they are using their words.

    It's a fun way to keep this wonderful language alive.
</div>

<div class="tweets">
  <div class="word_table">

  </div>
</div>

</p>
