
<!--<div id ="javascript"></div>-->

<div id="header">
<div class="wrap">
<div id="slide-holder">
<div id="slide-runner">
<a href=""><img id="slide-img-1" src="assets/1.jpg" class="slide" alt="" /></a>
<a href=""><img id="slide-img-2" src="assets/2.jpg" class="slide" alt="" /></a>
<a href=""><img id="slide-img-3" src="assets/3.jpg" class="slide" alt="" /></a>
<a href=""><img id="slide-img-4" src="assets/4.jpg" class="slide" alt="" /></a>
<div id="slide-controls">
<p id="slide-client" class="text"><strong> </strong><span></span></p>
<p id="slide-desc" class="text"></p>
<p id="slide-nav"></p>
</div>
</div>
</div>
</div>
</div>

<div id='left'></div>
<div id='middle'></div>
<div id='right'></div>

