/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
@fontface {
font-family: "League_Gothic";
src: url('../fonts/League_Gothic.otf')format('truetype');
}

@fontface {
font-family: "BEBAS";
src: url('../fonts/BEBAS.ttf')format('truetype');
}

@fontface {
font-family: "angelina";
src: url('../fonts/angelina.ttf')format('truetype');
}


.pagination{
    background: white;
    cursor: default;
    height: 22px;
}

.pagination a{
    padding: 5px;
}

.disable{
    display: none;
}
.current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color :white;
    border: 1px solid #2e6ab1;
}
.user_container{
    width: 100%;
    background-color: #f2eded;
     -moz-box-shadow: -5px -5px 5px #e2dada;
    -webkit-box-shadow: -5px -5px 5px #e2dada;
    box-shadow: -5px -5px 5px #e2dada;
    height: 500px;
}

a {
    text-decoration: none;
    color: #105cbc;
    border: 1px solid #9aafe5;
}

.page_info {
    background: #2e6ab1;
    color: white;
    padding: 22em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
}

.container {
  width: 710px;
  height:100%;
}

#body {
    height: 100%;
}

.site_body{
    padding-left:40px;
    padding-right: 40px;
}

#javascript {
    background-color: #9999ff;
    height: 300px;
    width: 100%;
    -moz-box-shadow: -5px -5px 5px #888;
    -webkit-box-shadow: -5px -5px 5px #888;
    box-shadow: -5px -5px 5px #888;
}
#left{
    width: 30%;
    background-color: #d1e0e6;
    border-color:#cc0033;
    float: left;
    padding: 10px;
    height: 150px;
    top: 20px;
    position:relative;
    -moz-box-shadow: -5px -5px 5px #888;
    -webkit-box-shadow: -5px -5px 5px #888;
    box-shadow: -5px -5px 5px #888;

}
#middle{
    width: 30%;
     background-color: #dac3c8;
     float: left;
     padding: 10px;
     height: 50px;
     height: 150px;
     left:10px;
    position: relative;
    left: 30px;
     top: 20px;
    -moz-box-shadow: -5px -5px 5px #888;
    -webkit-box-shadow: -5px -5px 5px #888;
    box-shadow: -5px -5px 5px #888;

}
#right{
    width:30%;
    background-color: #c6d9d9;
    border-color:#cc0033;
    float: left;
    padding: 10px;
    height: 150px;
    position: relative;
    left: 60px;
     top: 20px;
    -moz-box-shadow: -5px -5px 5px #888;
    -webkit-box-shadow: -5px -5px 5px #888;
    box-shadow: -5px -5px 5px #888;
}

#partial_render{
    font-family:bebas;
}

#word_table{
    padding: 10px;
}

#word_table tr{
    height: 200px;
}

.word_show {
    position:relative;
    top:10%;
}

.word_show tr {
    height:5em;
}


.gab {
    color: #333333;
    float: left;
    font-family:angelina;
    font-size: 40px;
    font-style: italic;
    line-height: 60px;
    text-align: left;
}

.gab2 {
    color: #333333;
    font-family:angelina;
    font-size: 40px;
    font-style: italic;
    line-height: 60px;
    text-align: left;
    position: relative;
    left: 50px;
    padding:50px;
}

.word_table td{
    text-align: left;
}

#user_word{
    color :#333333;
}

#user_word p {
    font-family:angelina;
    font-size:5em;
    font-style: italic;
}

#word_type {
    font-size: 2em;
    color: #999999;
}
#word_meaning {
    font-size:2em;
    line-height:60px;
}

#word_usage {
    font-size:1em;
    font-style:italic;
    line-height:200%;
    padding-right: 3%;
}

.adopt_button{
    color: #ff0066;
    font-family: bebas;
    font-size: 40px;
}

h1 {
    color: #ff0066;
    font-family: bebas;
}

h2 {
    color: #333333;
    font-family: bebas;
}

#user_nav{
    background: #f2eded;
    padding: 3em;
    color: #ff0066;
    font-family: bebas;
    display :inline-block;
    width: 94%;
    height: 8%;
    position: relative;
    top: -20px;
}

.user_new {
    text-align: left;
}

.user_new a{
    color: black;
}

.shared  {
    color: black;
}

.shared a:hover {
    color: white;
}

#post_form {
    text-align:left;
}

.button{
    position:relative;
    left:-100px;
}


#user_nav a{
    color: #ff0066;
    font-size: 40px;
    padding: 20px;
    float:left;
}

#auth a{
    font-size:10px;
    font-family:arial;
}

#auth2 {
    position: relative;
    float:left;
    padding-left:450px;
    top: -10px;
}

#auth2 a {
    background:none;
    border: none;
    text-decoration: none;
    padding: 0px;
}
#checkbox{
    display:inline;
    float:left;
    padding-right:50px;
}
#words_container {
    height: 700px;
    background-color: #f2eded;
    padding: 10px;
    -moz-box-shadow: -5px -5px 5px #e2dada;
    -webkit-box-shadow: -5px -5px 5px #e2dada;
    box-shadow: -5px -5px 5px #e2dada;
}

#words{
    position:relative;
    top: 10px;
    float: left;
    border: solid;
    border-color:#e8e3ff;
    border-width:20px;
    font-family: bebas;
    font-size: 20px;
    text-align:left;
    background-color: #e8e3ff;
    -moz-box-shadow: 1px 1px 10px 5px  #e2dada;
    -webkit-box-shadow: 1px 1px 10px 5px #e2dada;
    box-shadow: 1px 1px 10px 5px #e2dada;
}

#words td{
    padding: 8px;
    font-size:12px;
}

#words a{
    color: #333333;
}

#words a:hover {
    color: white;
}

.word_table {
    font-size: 45px;
    font-style: italic;
    padding: 5px;

}

.word_table tr {
}

.word_table td {
     font-family: angelina;
     line-height: 110%;
    padding:5px;
}


.tweets {
    float:left;
    width: 45%;
    padding: 2%;
    height:100%;

}

.word_box {
       float:left;
       width: 25%;
        padding: 2%;
        height:100%;
    -moz-box-shadow: 1px 1px 10px 5px  #e2dada;
    -webkit-box-shadow: 1px 1px 10px 5px #e2dada;
    box-shadow: 1px 1px 10px 5px #e2dada;
}

.meaning {
    font-family:bebas;
    font-size: 25px;
    color: #999999;
}
.oddrow {
   background-color: #e8e3ff;
}
.evenrow {
    background-color: #ffffff;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

#search3_type{
    width:155px;
}
#search2_category{
    width:155px;
}


